.room .jumbotron {
  background-image:url('http://s3.amazonaws.com/mprgenieproduction/binaries/6834/7_Room_1CC_AF_LR_.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 85%;
  margin-bottom: 0px;
}

.sidebarleft {
  background-color: #efefef;
  position: absolute;
  right: 70%;
  left: 0px;
  height:646px;
  border-right: solid #000;
  border-right-width: 1px;
}

.sidebarleft .row {
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
  border-bottom: solid #000;
  border-bottom-width: 1px;
}

.sidebarleft h2 {
  color: #393c3d;
  font-size: 24px;
}

.sidebarleft p {
  font-size: 15px;
  margin-bottom: 13px;
}

.sidebarleft .control-label {
  color: #000;
}

.sidebarright {
  background-color: #ffF;
  position: absolute;
  right: 0px;
  left: 30%;
  height:620px;
}

.sidebarleft .row .input-group-btn .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sidebarleft .input-group-btn {
  display: inline-block;
}

.sidebarleft .num-guests {
  text-align: left;
}

.sidebarright .container {
  width: 970px;
}

.rating {
  text-align: center;
  font-size: 20px;
}

.btn a {
  color: #653C33;
}